@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
aside{
        width: 30%;
        display: inline-block;
        float: right;
}
p{

font-size: 21px;

    
}
h1{

font-size: 75px;

}
