@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
aside{
        width: 30%;
        display: inline-block;
        float: right;
}
p{

font-size: 21px;
font-color: grey;
    
}
h1{

font-size: 75px;
text-decoration-line: underline;
font-color: grey;
}

h3{

    text-decoration-line: underline;
font-color: grey;
}

hr{

border-color: rgb(0,0,0);

}

h6{

font-size: 15px;
font-color: grey;
}

h5{


font-size: 30px;
text-decoration-line: underline;
font-color: grey;
}
h4{

font-color: grey;
text-decoration-line: underline;
}
