    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
font-color: #808080;

}
aside{
        width: 30%;
        display: inline-block;
        float: right;
}
p{

font-size: 21px;

    
}
h1{

font-size: 75px;
text-decoration-line: underline;

}

h3{

    text-decoration-line: underline;

}

hr{

border-color: rgb(0,0,0);

}

h6{

font-size: 15px;

}

h5{


font-size: 30px;
text-decoration-line: underline;

}
h4{


text-decoration-line: underline;
}

img{
    

float: right;
border-radius: 30%;
    
}
